<h1>Hi {{currentUser.firstName}}!</h1>
<p>You're logged in!!</p>
<h3>All registered users:</h3>
<!-- <ul>
    <li *ngFor="let user of users">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        <br/><span class="badge badge-secondary">{{user.role}}</span>
        <br/><a (click)="deleteUser(user.id)" class="badge badge-danger" *ngIf="currentUser.role == 'Auditor'">Delete</a>
    </li>
</ul> -->


<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
        <div class="table-responsive">
            <nav class="navbar">
                <input class="form-control" type="text"  id="inputtext"
                [(ngModel)]="username" (ngModelChange)="search(username)"
               placeholder="Enter user name">
            </nav>

            <table class="table">
                <thead class="">
                    <tr>
                        <th (click)="sort(username)" scope="col">Username &nbsp; <i class="fa fa-sort"></i></th>
                        <th scope="col">User</th>
                        <th scope="col">Role</th>
                        <th *ngIf="currentUser.role == 'Auditor'" scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users |  paginate: { itemsPerPage: 10, currentPage: page
                    ,totalItems: pagelen }">
                        <td scope="row">{{user.username}}</td>
                        <td scope="row">{{user.firstName}} {{user.lastName}}</td>
                        <td scope="row">{{user.role}}</td>
                        <td scope="row">
                            <a (click)="deleteUser(user.id)" class="badge badge-danger" *ngIf="currentUser.role == 'Auditor'">
                                Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row" *ngIf="totalCount>0">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-5">
                    <nav aria-label="Page navigation example">
                        <pagination-controls (pageChange)="page = $event"></pagination-controls>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>